.about-container{
    display: flex;
   
}
.about-container p{
    
}
.about-container img{
    width: 450px;
    margin-top: 50px;
  text-align: right;
  
}
.about-section{
    background-color:gray;
    
    padding: 15px;
}